<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Bienvenido a MejorAmigo, <%= @user.name %></h1>
    <p>
      Te has registrado correctamente.
      Tu nombre de usuario es: <%= @user.email %>.<br/>
    </p>
    <p>
      Para ingresar, pincha en el siguiente link: <%= @url %>.
    </p>
    <p>Gracias por ser parte de esto, tu amigo lo agradecerá!</p>
  </body>
</html>