<h2>Registro de amigos</h2>
<hr>
<h4>
Registra a los mejores amigos de <%=  current_cause.affected_name.titleize %>. 
Aquellos que tú crees se comprometerán realmente a apoyarlo, sean o no amigos directos tuyos.
 </h4>
 <br/>

<%= render :partial => 'form' %>
