<%= render :partial => "layouts/header" %>
<br/>
<br/>
<div class="jumbotron">
  <h1 class="bajada">Amigos ayudando a un amigo a mejorarse</h1>
    <p class="lead">Crea una red para ayudar a otros que tengan problemas de depresión</p>
</div>

<div class="container contenido_interior">
  <div class="row">
    <div class="span12">
	  <%= yield %>
	</div>
  </div>
</div>

<footer>
	<p>© MejorAmigo 2012</p>
</footer>

</body>
</html>
