<%= render :partial => "layouts/header" %>
<br/>
<br/>
<div class="jumbotron">
  <h1 class="bajada">Crea una red de apoyo para amigos con depresión</h1>
</div>

<div class="container contenido_interior">
  <div class="row">
    <div class="span12">
	  <%= yield %>
	</div>
  </div>
</div>

<footer>
	<p>© MejorAmigo 2012</p>
</footer>

</body>
</html>
